<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  <title>Onfido Face Authentication</title>
  </head>
   <link rel="stylesheet" href="/stylesheets/onfido.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/onfido-sdk-ui@6.15.2/dist/style.css">
  <body>
    <div id="onfido-mount"></div>

<script src="/onfido-sdk-ui/dist/onfidoAuth.min.js"></script>
    <script src="/javascripts/onfido_face_authentication.js"></script>
  </body>
</html>
