<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
  </head>
   <link rel="stylesheet" href="/stylesheets/onfido.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/onfido-sdk-ui@6.15.2/dist/style.css">
  <body>
    <div id="onfido-mount"></div>
<script src="https://cdn.jsdelivr.net/npm/onfido-sdk-ui@6.15.2/dist/onfido.min.js"></script>
    <script src="/javascripts/onfido.js"></script>
  </body>
</html>
