<!DOCTYPE html>
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
h1
	{margin-top:20.0pt;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:115%;
	page-break-after:avoid;
	font-size:20.0pt;
	font-family:"Arial",sans-serif;
	font-weight:normal;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Arial",sans-serif;}
.MsoChpDefault
	{font-family:"Arial",sans-serif;}
.MsoPapDefault
	{line-height:115%;}
 /* Page Definitions */
 @page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1>

<h1 align=center style='margin:0in;text-align:center;line-height:normal;
page-break-after:auto'><b><span lang=EN style='font-size:12.0pt;background:
white'>NOTICE IN COMPLIANCE WITH</span></b></h1>

<h1 align=center style='margin:0in;text-align:center;line-height:normal;
page-break-after:auto'><b><span style='font-size:12.0pt;color:#333333;
background:white'>REPUBLIC ACT 10173 (DATA PRIVACY ACT OF 2012)</span></b><b><span
style='font-size:12.0pt;background:white'> </span></b></h1>

<p class=MsoNormal style='line-height:normal'><span lang=EN style='font-size:
12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>This Privacy Notice
(“Notice”) describe how </span><b><span lang=EN style='font-size:12.0pt'>AUTONOMOUS
INSPECTION CENTRE INC.</span></b><span lang=EN style='font-size:12.0pt'> (Autonomous)
and/or <b>PARK SOLUTIONS INC.</b><span style='color:#333333;background:white'> (PSI)
collect, use, process and disclose your Personal Information through the use of
the mobile application known as <b>ORO Wallet</b>, and web-application portals,
as well as products, such as physical card known as <b>ORO Kard</b>, and other mobile,
or automated services offered by Autonomous and/or PSI under the following
products: </span></span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:.75in;text-align:justify;
text-indent:-.25in;line-height:normal'><b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><b><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>ORO Kard </span></b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>-<b> </b>Brand Name of the full ecosystem used
by affiliated transport terminals;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:.75in;text-align:justify;
text-indent:-.25in;line-height:normal'><b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><b><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>ORO Kard Card </span></b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>- Physical Card for Passenger Use; and<b> </b></span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:.75in;text-align:justify;
text-indent:-.25in;line-height:normal'><b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><b><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>ORO Wallet </span></b><span lang=EN style='font-size:12.0pt;
color:#333333;background:white'>- Mobile Application for Passenger Use</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>This Notice applies to all
consumers, clients, agents, vendors, suppliers, partners (such as operators, drivers
and merchant partners), contractors and service providers.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Personal Information<i>&nbsp;</i></span><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>refers to any
information whether recorded in a material form or not, from which the identity
of an individual is apparent or can be reasonably and directly ascertained by
the entity holding the information, or when put together with other information
would directly and certainly identify an individual. This includes but is not
limited to an individual’s name, nationality, telephone number, bank and credit
card details, personal interests, email address, image, government-issued
identification numbers, biometric data, race, date of birth, marital status,
religion, health information, vehicle and insurance information, employment
information and financial information.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>I.   
COLLECTION OF PERSONAL INFORMATION</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI
collect Personal Information about an individual in the ways listed below. They
may also combine the collected Personal Information with other Personal Information
in their possession. If an individual has, or is a party to multiple
relationships with Autonomous and/or PSI, they will link an individual’s Personal
Information collected across an individual’s various capacities to facilitate his
use of the offered services and for the purposes described below.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><i><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></i></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI
collect Personal Information when an individual voluntarily provides it to them
in the following ways:</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>completes a user profile or registration forms (such as his/her name,
contact information and other identification information where needed);</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>provides information to assess his/her eligibility or qualification to avail
of the mobile, or automated services offered by Autonomous and/or PSI;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>interacts with Autonomous’ and/or PSI’s social media pages (such as his/her
social media account ID, profile photo and any other publicly available data);</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>participates in contests, redemption of loyalty points, rewards and/or
events organized by Autonomous and/or PSI (such as the pictures, audio files,
or videos he/she may submit, which may include images of himself/herself);</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>verifies his/her identity through various means (such as social media
logins, submission of selfie images or independently verified payment card
information);</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>fills up demographic information in surveys (such as age, gender, and
other information he/she may volunteer such as his/her marital status,
occupation and income information); and</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>agrees to take a ride with in-vehicle audio and/or video recording
features. </span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>In certain
circumstances, an individual may need to provide his/her Personal Information
in order to comply with legal requirements or contractual obligations, or where
it is necessary to conclude a contract. Failure to provide such Personal Information,
under such circumstance, may constitute failure to comply with legal
requirements or contractual obligations, or inability to conclude a contract
with an individual.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>For purposes such as
detection and prevention of fraud, Autonomous and/or PSI may also collect an
individual’s Personal Information without consent, as provided under </span><span
style='font-size:12.0pt;color:#333333;background:white'>Republic Act 10173 (Data
Privacy Act of 2012), and other applicable </span><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>laws.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><i><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></i></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Personal Information
may be collected through the normal operation of Autonomous’ and/or PSI’s Apps,
Websites and Services. </span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>When Autonomous and/or
PSI collect Personal Information, including but not limited to an individual’s
name, contact information and other identification information where needed
from other sources, Autonomous and/or PSI make sure that that data is
transferred to them in accordance with </span><span style='font-size:12.0pt;
color:#333333;background:white'>Republic Act 10173 (Data Privacy Act of 2012),
and other applicable </span><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>laws.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Some of the Personal
Information that Autonomous and/or PSI collect is sensitive in nature. This
includes Personal Information pertaining to an individual’s national ID
information, religious beliefs, background information (including financial and
criminal records, where legally permissible), health data, disability, marital
status and biometric data, as applicable. Autonomous and/or PSI collect this
information only with an individual’s consent and/or in strict compliance with </span><span
style='font-size:12.0pt;color:#333333;background:white'>Republic Act 10173 (Data
Privacy Act of 2012), and other applicable </span><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>laws.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><i><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></i></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>Personal
Information of minors</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>A parent or legal
guardian must not allow minors under their care to submit Personal Information
to Autonomous and/or PSI. In the event that such Personal Information of a
minor is disclosed to Autonomous and/or PSI, his/her parent or legal guardian consents
to the processing of his/her Personal Information and accepts and agrees to be
bound by this Notice and take responsibility for his/her actions.          </span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>Personal
Information of other individuals</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><i><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'> </span></i></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>In some situations, an
individual may provide Personal Information of other individuals (such as his/her
spouse, family members or friends) to Autonomous and/or PSI. In such cases, the
individual who provided the Personal Information of other individuals represents
and warrants to Autonomous and/or PSI that he/she has obtained their consent
for their Personal Information to be collected, used and disclosed as set out
in this Policy.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>II</span></b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>.    <b>USE OF PERSONAL
INFORMATION</b></span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI may
use, combine and process an individual’s Personal Information for the following
purposes:    </span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>to provide, personalize, maintain and improve their apps, websites and services;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>to ensure the safety and security of their apps, websites and services
and all users</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>to resolve user support issues</span><span lang=EN style='font-size:
12.0pt;color:#333333'>;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>for testing, research, analysis and product development</span><span
lang=EN style='font-size:12.0pt;color:#333333'>;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>to investigate and resolve claims, or disputes, or as allowed or
required by applicable law</span><span lang=EN style='font-size:12.0pt;
color:#333333'>s;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>when required, advised, recommended, expected or requested to do so by
our legal advisors or any local or foreign legal, regulatory, governmental or
other authority</span><span lang=EN style='font-size:12.0pt;color:#333333'>;</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>in connection with mergers, acquisitions, joint ventures, sale of
company assets, consolidation, restructuring, financing, business asset
transactions, or acquisition of all or part of Autonomous’ and/or PSI’s business
by another company</span><span lang=EN style='font-size:12.0pt;color:#333333'>;
and</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;text-indent:-.25in;
line-height:normal'><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>●<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN style='font-size:12.0pt;color:#333333;background:
white'>to market Autonomous’ and/or PSI’s products, services, events or
promotions</span></p>

<p class=MsoNormal style='margin-left:.5in;text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>III.   
RETENTION OF PERSONAL INFORMATION</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI retain
an individual’s Personal Information for the period necessary to fulfill the purposes
outlined in this Notice, unless a longer retention period is required or
allowed by </span><span style='font-size:12.0pt;color:#333333;background:white'>Republic
Act 10173 (Data Privacy Act of 2012), and other applicable </span><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>laws. Once an
individual’s Personal Information is no longer necessary, or Autonomous and/or
PSI no longer has a legal or business purpose for retaining an individual’s Personal
Information, they will take steps to erase, destroy, or prevent access or use
of such Personal Information for any purpose other than compliance with this
Notice, or for purposes of safety, security, fraud prevention and detection, in
accordance with the requirements of </span><span style='font-size:12.0pt;
color:#333333;background:white'>Republic Act 10173 (Data Privacy Act of 2012),
and other applicable </span><span lang=EN style='font-size:12.0pt;color:#333333;
background:white'>laws.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:#CCCCCC'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>IV.    COOKIES
AND ADVERTISING ON THIRD PARTY PLATFORMS</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI,
and third parties with whom they partner, may use cookies, web beacons, tags,
scripts, local shared objects such as HTML5, advertising identifiers and
similar technologies in connection with an individual’s use of its websites and
apps. Depending on the type of phone and operating software that an individual
is using, he/she may be granted the option to disable Autonomous’ and/or PSI’s use
of mobile identifiers (such as Apple’s IDFA). Cookies may have unique
identifiers, and reside, among other places, on an individual’s computer or
mobile device, in emails Autonomous and/or PSI send to him/her, and on the
former’s web pages. Cookies may transmit Personal Information about an
individual and his/her use of the former’s services, such as his/her browser
type, search preferences, IP address, data relating to advertisements that have
been displayed to him/her or that he/she has clicked on, and the date and time
of his/her use. Cookies may be persistent or stored only during an individual
session.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI may
allow third parties to use cookies on their websites and apps to collect the
same type of Personal Information for the same purposes. Third parties may be
able to associate the Personal Information they collect with other Personal
Information they have about an individual from other sources. Autonomous and/or
PSI do not necessarily have access to or control over the cookies they use.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Additionally, Autonomous
and/or PSI may share non-personally identifiable Personal Information with
third parties, such as location data, advertising identifiers, or a
cryptographic hash of a common account identifier (such as an email address),
to facilitate the display of targeted advertising.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>An individual may
deactivate cookies by adjusting your internet browser settings to disable,
block or deactivate cookies, by deleting his/her browsing history and clearing
the cache from his/her internet browser. </span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>An individual may be
able to limit Autonomous’ and/or PSI’s use of his/her Personal Information to
display advertisements that may be of relevance to him/her, by adjusting his/her
preference sharing of some of this Personal Information through their ORO Wallet
App (Settings &gt; Privacy &gt; Ads). An individual will still be seeing non
targeted advertisements.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>V.   
PROTECTION OF PERSONAL INFORMATION</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous will take
reasonable legal, organizational and technical measures to ensure that an
individual’s Personal Information is protected. This includes measures to
prevent Personal Information from getting lost, or used or accessed in an
unauthorized way. They limit access to an individual’s Personal Information to their
employees on a need to know basis. Those processing an individual’s Personal
Information will only do so in an authorized manner and are required to treat his/her
information with confidentiality.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>The transmission of
information via the internet is not completely secure. While Autonomous and/or
PSI will do their best to protect an individual’s Personal Information, they cannot
guarantee the security of his/her Personal Information transmitted through any
online means, therefore, any transmission remains at his/her own risk.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>VI.   AN
INDIVIDUAL’S RIGHTS WITH RESPECT TO HIS/HER PERSONAL INFORMATION</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>    </span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;color:#333333;background:white'>An individual providing
Personal Information is entitled to:</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Be
informed whether Personal Information pertaining to him/her shall be, are being
or have been processed;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Be
furnished the information indicated hereunder before the entry of his/her
personal information into the processing system of the personal information
controller, or at the next practical opportunity:</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Description of the
personal information to be entered into the system;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Purposes for which they
are being or are to be processed;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Scope and method of the
personal information processing;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>The recipients or
classes of recipients to whom they are or may be disclosed;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Methods utilized for
automated access, if the same is allowed by the data subject, and the extent to
which such access is authorized;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>The identity and
contact details of the personal information controller or its representative;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>The period for which
the information will be stored; and</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>The existence of their
rights, i.e., to access, correction, as well as the right to lodge a complaint
before the National Privacy Commission (NPC).</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;color:#333333;background:white'>Any information
supplied or declaration made to the data subject on these matters shall not be
amended without prior notification of data subject:&nbsp;<i>Provided,&nbsp;</i>That
the notification, regarding the purposes for which the Personal Information are
being or are to be processed shall not apply should the personal information be
needed pursuant to a&nbsp;<i>subpoena&nbsp;</i>or when the collection and
processing are for obvious purposes, including when it is necessary for the
performance of or in relation to a contract or service or when necessary or
desirable in the context of an employer-employee relationship, between the
collector and the data subject, or when the information is being collected and
processed as a result of legal obligation;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Reasonable
access to, upon demand, the following:</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Contents of his/her
personal information that were processed;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Sources from which
personal information were obtained;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Names and addresses of
recipients of the personal information;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Manner by which such
data were processed;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Reasons for the
disclosure of the personal information to recipients;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Information on
automated processes where the data will or likely to be made as the sole basis
for any decision significantly affecting or will affect the data subject;</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>Date when his/her
personal information concerning the data subject were last accessed and
modified; and</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:1.0in;text-align:justify;
text-indent:-.25in;line-height:normal'><span style='font-size:12.0pt;
font-family:"Courier New";color:#333333;background:white'>o<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;color:#333333;background:white'>The designation, or
name or identity and address of the personal information controller;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Dispute
the inaccuracy or error in the Personal Information and have the personal information
controller correct it immediately and accordingly, unless the request is
vexatious or otherwise unreasonable. If the Personal Information have been
corrected, the personal information controller shall ensure the accessibility
of both the new and the retracted information and the simultaneous receipt of
the new and the retracted information by recipients thereof:&nbsp;<i>Provided,&nbsp;</i>That
the third parties who have previously received such processed personal
information shall he informed of its inaccuracy and its rectification upon
reasonable request of the data subject;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Suspend,
withdraw or order the blocking, removal or destruction of his/her Personal Information
from the personal information controller’s filing system upon discovery and
substantial proof that the Personal Information are incomplete, outdated,
false, unlawfully obtained, used for unauthorized purposes or are no longer
necessary for the purposes for which they were collected. In this case, the Personal
Information controller may notify third parties who have previously received
such processed personal information; and</span></p>

<p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in;
line-height:normal'><span style='font-size:12.0pt;font-family:Symbol;
color:#333333;background:white'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:12.0pt;color:#333333;background:white'>Be
indemnified for any damages sustained due to such inaccurate, incomplete,
outdated, false, unlawfully obtained or unauthorized use of Personal Information.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><b><span
lang=EN style='font-size:12.0pt;color:#333333;background:white'>VII. AMENDMENTS
AND UPDATES</span></b></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>Autonomous and/or PSI
may modify, update or amend the terms in this Notice at any time. Such
amendments shall be notified to an individual through the Application and/ or
other appropriate means at least five (5) business days before the effective
date. The updated version will be posted on Autonomous’ and/or PSI’s website.
It is an individual’s responsibility to review the Privacy Notice regularly. An
individual’s continued use of the Apps, Websites or Services, purchase products
from Autonomous and/or PSI, or continuing to communicate or engage with Autonomous
and/or PSI following the modifications, updates or amendments to this Notice,
whether or not reviewed by him/her, shall constitute his/her agreement to be
bound by such amendments.</span></p>

<p class=MsoNormal style='text-align:justify;line-height:normal'><span lang=EN
style='font-size:12.0pt;color:#333333;background:white'>&nbsp;</span></p>

</div>

</body>

</html>

