<!DOCTYPE html>
<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Georgia;
	panose-1:2 4 5 2 5 4 5 2 3 3;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoNormal><b><span lang=EN-SG style='font-size:14.0pt;line-height:
107%'>AUTONOMOUS INSPECTION CENTRE INC.</span></b></p>

<div style='border:none;border-bottom:solid windowtext 1.0pt;padding:0in 0in 1.0pt 0in'>

<p class=MsoNormal style='border:none;padding:0in'><b><span lang=EN-SG
style='font-size:14.0pt;line-height:107%'>ORO KARD</span></b></p>

<p class=MsoNormal style='border:none;padding:0in'><b><span lang=EN-SG
style='font-size:14.0pt;line-height:107%'>(Passengers/ TNVS Operators)</span></b></p>

</div>

<p class=MsoNormal><span lang=EN-SG style='font-size:14.0pt;line-height:107%'>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG style='font-size:14.0pt;line-height:107%'>Terms
and Conditions</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>ORO System is a
simplified payment and ticketing System (herein referred to as “ORO Kard”)
offered by transportation terminals registered with the System (herein referred
to as “SM Megamall Terminals'') under the following brands of Autonomous
Inspection Centre Inc.   (herein referred to as the developer  “AICI”). For
purposes of these Terms and Conditions, “ORO Kard” shall include Parking
Systems Inc. (PSI), affiliates and franchisees who implement the System.  </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG> The payment
mode is open to all who purchase the Physical Card “ORO Kard” and/or download
the mobile application “ORO Wallet”. All of these Cards are powered by the ORO
System, and shall be collectively referred to as “ORO Kard”, whereas the mobile
applications powered by the System shall be referred to as “ORO Wallet”.  In
this System, “Cardholder” means everyone that has purchased an ORO Kard.</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>You agree that
by simply using the ORO Kard and/or ORO Wallet through your participation or
membership in the system, you accept these Terms and Conditions and that you
have read, understood and accepted our Privacy Policy.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The specific
rules of the System are outlined below:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>A. ORO Kard
Personalization and Validity (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>ORO Kard has an
unlimited valid period from the date of purchase of the ORO Kard and may be
used in any of the participating Transportation Terminals.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>All purchased
ORO Kards are personalized with the Full Name of the Cardholder displayed on
the front face of the card. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The Cardholder
must place his/her signature on the back face of the card for validity to be
allowed.  </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>B. Use of the
ORO Kard (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The ORO Kard,
may be used in any participating Transportation Terminals. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Loading the ORO
Kard (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The ORO Kard
allows the Cardholder to load a monetary value onto the card which will be
stored as Credits/Points for future purchases at participating Transportation
Terminals nationwide. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The value loaded
in every ORO Kard is treated as cash. The monetary value that the Cardholder
can load onto the ORO Kard is a pre-payment for the goods and services at
participating Transportation Terminals. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The ORO Kard is
valid for use in participating Transportation Terminals in the Philippines only
and within the validity period of the ORO Kard.</span></p>

<p class=MsoNormal><span lang=EN-SG>For a list of participating Transportation
Terminals, please visit ORO Kard Website.</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>Load Amount(s) for the ORO Kard  (Physical
Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The Cardholder
can load value (Credits/Points) into an ORO Kard by presenting his/her card to
any cashier at participating Transportation Terminals, and paying in cash or
non-cash tenders to load the ORO Kard. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The minimum
amount that can be loaded on an ORO Kard is One Hundred Pesos (Php 100.00), and
any additional  amount shall be in denominations of One Hundred Pesos (Php
100.00). The maximum value that may be stored on any Card at any given time is
Ten Thousand Pesos (Php 10,000.00). </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The
Credits/Points in the Card is non-refundable and may not be exchanged for cash
or credit balance.<span style='background:yellow'> </span></span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Purchasing with
ORO Kard/ORO Wallet (Physical Card/Mobile Application):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>The Application
User/Cardholder may use the Credits/Points of the Physical Card/Mobile
Application when making a purchase of transportation tickets at any participating
Transportation Terminals. </span></p>

<p class=MsoNormal style='text-align:justify'><u><span lang=EN-SG><span
 style='text-decoration:none'>&nbsp;</span></span></u></p>

<p class=MsoNormal><span lang=EN-SG>Inactive ORO Kard (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Failure of a
Cardholder to either load his ORO Kard at least once in a calendar year will
render the Card inactive. An inactive ORO Kard will not entitle the Cardholder
to avail of promos under the Program.</span></p>

<p class=MsoNormal><span lang=EN-SG style='color:black;background:#FFE599'>Lost
ORO Kard (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG
style='color:black;background:#FFE599'>A lost Card can be replaced and P100.00
will be charge for the lost card. All Card Credits balances in a lost Card will
be transferred to a new or replacement Card less the “Lost card Charge” of 100
pesos. </span></p>

<p class=MsoNormal><span lang=EN-SG>Damaged ORO Kard  (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>An ORO Kard that
is damaged because of mishandling may be replaced. The Cardholder has the
option to transfer the existing Credits/Points balance to a newly purchased ORO
Kard for a fee of Php 100.00. </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>To replace a damaged
ORO Kard, the Cardholder must surrender the damaged card and provide relevant
contact information to any participating SM Megamall Transportation Terminal.
The receiving Transportation Terminal will then send the Card to the
Transportation Terminal Headquarters for processing.     </span></p>

<p class=MsoNormal><span lang=EN-SG>Defective ORO Kard (Physical Card):</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>ORO Kards that
cannot be read due to a system error when used in participating SM Megamall
Transportation Terminals<u> should be replaced</u>.  To replace a defective
card, a Cardholder must surrender the card at any participating SM Megamall
Transportation Terminal. <u>The defective card will be validated by the
Transportation Terminal Headquarters and will be replaced for free .</u></span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>Disputes on Transactions Using ORO Kard:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Credits/Points
computations and balances on SM Megamall’s records in the ORO System are tested
and proven that all transactions are traceable and accurately recorded.  A<u>nd,
any dispute as to balance amount of Credits/Points that remains in the ORO Kard
shall be checked and reconciled.</u> </span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>Unauthorized Usage of the ORO Kard:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>SM Megamall
reserves the right not to accept any ORO Kard or otherwise limit the use of a
ORO Kard if it reasonably believes that such use is unauthorized, fraudulent or
otherwise unlawful.  </span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>SM Megamall
reserves the right to audit cards at any time without advance notice to ensure
compliance with the System’s Terms and Conditions. If the audit uncovers irregularities
or suspicious findings deemed by SM Megamall to be fraudulent or illegal in
nature, SM Megamall may suspend the card in question for further investigation
or even terminate the card account totally.</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>ORO Kard/ORO Wallet Registration:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>In registering,
Cardholders will be required to provide the following personal information:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Processing of a
Cardholder’s personal data shall be in accordance with the Terms and Conditions
and with the System’s Privacy Policy posted at ORO Kard Website.</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>C. Changes to these Terms and Conditions
and System Guidelines:</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>These Terms and
Conditions shall remain valid and may be amended by SM Megamall from time to
time without prior notice to the Cardholder. SM Megamall may use reasonable
efforts to provide Cardholders with accurate and timely information regarding
the System including any changes thereof.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Without prior
notice to the Cardholder, SM Megamall reserves the right at all times and based
on its sole discretion:</span></p>

<p class=MsoListParagraphCxSpFirst style='text-align:justify;text-indent:-.25in'><span
lang=EN-SG>1)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-SG>To make any changes whatsoever to these Terms
and Conditions including the rules and guidelines of the System;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
lang=EN-SG>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify;text-indent:-.25in'><span
lang=EN-SG>2)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-SG>to withdraw, cancel, withhold, substitute, deny
access to or use of or in any way change any of the benefits previously
advertised or offered, to any Cardholder, and SM Megamall will not be liable
for any loss or damage suffered by the Cardholder resulting from such
withdrawal, cancellation, variation or change; and</span></p>

<p class=MsoListParagraphCxSpMiddle><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoListParagraphCxSpMiddle style='text-align:justify'><span
lang=EN-SG>&nbsp;</span></p>

<p class=MsoListParagraphCxSpLast style='text-align:justify;text-indent:-.25in'><span
lang=EN-SG>3)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span lang=EN-SG>To terminate or materially alter the System
and/or revoke the right of any Cardholder to use the ORO Kard/ORO Wallet or to
utilize any benefits.</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>D. Privacy Policy</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Our Privacy
Policy, and any changes thereto which we may implement from time to time, in
connection with how we process your personal information collected from this
System may be found here.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>SM Megamall has
no control over the accuracy and correctness of the Personal Information
Cardholder/Mobile Application Users will provide. To the extent permitted by
law, SM Megamall shall not be liable for any loss, damage or injury arising out
of or in connection with the inaccuracies, incompleteness, falsity, or errors
in the information you provide.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>E. limitation of Liability</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>In any system
malfunction, SM Megamall shall not be liable to to any Cardholder or any third
party with respect to any damage, death, delay, injury or loss arising out of,
whether directly or indirectly, or in connection with the services, points or
benefits provided or not provided under the System, use by the Cardholder of
the Card, or participation in the System. </span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal><span lang=EN-SG>F. Miscellaneous Provisions</span></p>

<p class=MsoNormal><span lang=EN-SG>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>These Terms and
Conditions shall be governed by and interpreted in accordance with Philippine
law. In case of disputes, the venue for any action shall be the proper courts
of the Philippines to the exclusion of all other venues.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>Failure of SM
Megamall to enforce a particular term or condition does not constitute a waiver
of that term or condition, and shall not be construed as a waiver or variation
of it or preclude its exercise at any subsequent time.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>If any of the
terms or conditions is held to be invalid or unenforceable, then such term or
condition shall, so far as it is invalid or unenforceable, be given no effect
and shall be deemed not to be included in these Terms and Conditions, but
without invalidating any of the remaining provisions.</span></p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-SG>SM Megamall has
the exclusive right to determine a Cardholder’s eligibility in participating in
the System and/or entitlement to the System’s membership and membership
privileges. Such determination by SM shall be deemed final.</span></p>

</div>

</body>

</html>

